:root {
  --borderStyle: 3px solid #f1aa9b;
  --backgroundColor: #48426d;
  --primaryTextColor: #f0c38e;
  --secondaryTextColor: #eed8c0;

  /* 312c51 - darkPurple
  48426d - lighterPurple
  f0c38e - lightOrange
  f1aa9b - lightPink */

  /* colors to watch out for in case i want to further corrupt materialize */
  /* c9f3ef 
  2ab7a9
  26a69a
  4caf50 */
}
body {
  background-color: var(--backgroundColor);
  color: var(--primaryTextColor);
  overflow-wrap: break-word;
  /* color:rgb(49, 44, 81); */
}
table,
tr,
td {
  text-align: left;
}
td.top-left {
  border-right: var(--borderStyle);
  border-bottom: var(--borderStyle);
  padding-right: 20px;
  text-align: center;
  overflow-wrap: break-word;
}
td.top-right {
  border-left: var(--borderStyle);
  border-bottom: var(--borderStyle);
  text-align: center;
  overflow-wrap: break-word;
  /* height: 50%; */
}
td.bottom-left {
  border-right: var(--borderStyle);
  border-top: var(--borderStyle);
  border-bottom: none;
  padding-right: 20px;
  text-align: center;
  overflow-wrap: break-word;
}
td.bottom-right {
  border-left: var(--borderStyle);
  border-top: var(--borderStyle);
  border-bottom: none;
  text-align: center;
  overflow-wrap: break-word;
}
tr {
  border-bottom: none;
}
td {
  width: 50%;
  max-width: 200px;

  vertical-align: top;
  padding-left: 1em;
  overflow: auto;
}

div.row.quad-row {
  margin: 0;
}

#quadrant .up {
  margin-top: 4%;
}

div.add-data {
  margin-top: 10%;
  margin-bottom: 9%;
}

div.complete {
  margin-bottom: 4%;
}

p.sub-instruction {
  color: var(--secondaryTextColor);
}

.quad-title {
  margin-left: 36%;
  margin-top: 10px;
  margin-bottom: 20px;
  /* margin-left: 50%;
  transform: translateX(-50%); */
}
.bored {
  border: 1px solid #312c51;
  background-color: #312c51;
  padding: 15px 25px;
  color: var(--secondaryTextColor);
  /* box-shadow: rgba(17, 12, 46, 0.35) 0px 48px 100px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
  border-radius: 10px;
}
ol.collection {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
  text-align: left;
}

ol li {
  overflow-wrap: break-word;
}

.collection,
.collection-item {
  background-color: #312c51;
  color: var(--secondaryTextColor);
}
ul.collection.shad {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
}

.extend-info {
  /* 
  border-radius: 10px;
  background-color: #312c51;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
  color: var(--secondaryTextColor); */
  padding: 2%;
  margin-bottom: 12px;
  user-select: none;
  font-size: 16px;
  width: 80%;
  overflow-wrap: break-word;
}

.extend-info ol {
  max-height: 250px;
  overflow-y: scroll;
}

.extend-info h5 {
  text-align: center;
  border-radius: 10px;
  background-color: var(--backgroundColor);
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
}

.further-info {
  display: none;
}
.caution {
  color: white;
}
.blur {
  filter: blur(2px);
}

.desc-text,
.time {
  font-style: italic;
  margin-left: 11px;
  margin-top: 5px;
  font-size: 13px;
  margin-bottom: 0;
}
div.br {
  border-style: solid;
  border-width: 1px;
  border-color: var(--secondaryTextColor);
  height: 1px;
  width: 100%;
}
.mar {
  margin-top: 4%;
}
.bot-mar {
  margin-bottom: 5%;
}
#contact {
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
#contact:hover {
  margin: 0 10px;
  text-decoration: underline;
  transform: scale(1.5, 1.5);
  color: var(--secondaryTextColor);
}
/* jonfvkjnfvkjebfrvhbcnvjndsfvsdbnvdsjvkjdsnvslkjdvnlkndm kjdfngvjndkmvnfgvjngdkjgnvkjnkdjnfgviunkjdfnvkjndfvpiesdvnjdfsijbgdkjvnkjsnvijnjuhnjjbjhbhj n */

::selection {
  background-color: #e6c2bb;
  color: #2b264d;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #312c51;
}

*::-webkit-scrollbar-thumb {
  background-color: #48426d;
  border-radius: 20px;
  border: 4px solid #312c51;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f1aa9b;
}

*::-webkit-scrollbar-corner {
  background-color: #48426d;
}

/* .scrollable::-webkit-scrollbar {
  width: 12px;
}

.scrollable::-webkit-scrollbar-track {
  background: #312c51;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #48426d;
  border-radius: 20px;
  border: 3px solid #312c51;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #f1aa9b;
} */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10%;
  gap: 100px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 0 20px;
}

.icon {
  width: 50px;
  height: 50px;
}
.cent {
  display: flex;
  justify-content: center;
  justify-items: center;
  /* display: grid;
  grid-template-columns: 1fr; */
}
#gmail .ic-text {
  margin-left: 7px;
}
#github .ic-text {
  margin-left: 4px;
}

#github,
#gmail,
#linkedin {
  transition: 0.3s;
  cursor: pointer;
}
#github:hover,
#gmail:hover,
#linkedin:hover {
  transform: scale(1.3, 1.3);
  color: var(--secondaryTextColor);
}
.toast-color {
  color: var(--secondaryTextColor);
  background-color: #312c51;
}
